.root {
    background-color: #e57373;
}
.fade-exit {
    position: absolute;
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-enter {
    position: absolute;
    opacity: 0;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}
